.movieList {
  margin-bottom: 30px;
}

.movieList h2{
  margin: 0px 0px 0px 30px ;
}

.movieList--area{
  overflow-x: hidden;
  padding-left: 30px;
}

.movielist--list {
  width: 99999999px;
}

.movielist--item {
  display: inline-block;
  width: 150px;

}

.movielist--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.movielist--item img:hover{
  transform: scale(1);
}
